name: Unit tests

on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - main
      - next

jobs:
  test-node:
    name:
      # prettier-ignore
      Test on Node.js v${{ matrix.node-version }}, eslint v${{ matrix.eslint-version }}, jest v${{ matrix.jest-version }}, and jest-watch-typeahead v${{ matrix.jest-watch-typeahead-version }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [12.x, 14.x, 16.x, 18.x, 19.x, 20.x, 22.x, 24.x]
        eslint-version: [7, "8.40", "8.55", 8]
        jest-version: [27, 28, 29, 30]
        jest-watch-typeahead-version: [1, 2, 3]
        exclude:
          # jest@30 doesn't support node@12, @14, @16, or @19
          - node-version: 12.x
            jest-version: 30
          - node-version: 14.x
            jest-version: 30
          - node-version: 16.x
            jest-version: 30
          - node-version: 19.x
            jest-version: 30
          # jest@29 doesn't support node@12
          - node-version: 12.x
            jest-version: 29
          # jest-watch-typeahead@2 doesn't support node@12
          - node-version: 12.x
            jest-watch-typeahead-version: 2
          # Modern timers need Jest 29.2.1 on Node 19+: https://github.com/facebook/jest/pull/13467
          - node-version: 18.x
            jest-version: 28
          - node-version: 19.x
            jest-version: 28
          - node-version: 20.x
            jest-version: 28
          - node-version: 22.x
            jest-version: 28
          - node-version: 24.x
            jest-version: 28
          # jest-watch-typeahead@3 only supports jest@30+
          - jest-watch-typeahead-version: 3
            jest-version: 27
          - jest-watch-typeahead-version: 3
            jest-version: 28
          - jest-watch-typeahead-version: 3
            jest-version: 29
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: install with eslint v${{ matrix.eslint-version }}, jest@${{ matrix.jest-version }}, and jest-watch-typeahead@${{ matrix.jest-watch-typeahead-version }}
        run: yarn add --dev eslint@${{ matrix.eslint-version }} jest@${{ matrix.jest-version }} babel-jest@${{ matrix.jest-version }} jest-watch-typeahead@${{ matrix.jest-watch-typeahead-version }} --ignore-engines
      - name: run tests
        run: yarn test
